@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --white: #fff;
  --black: #000;
  --ivory: #f8f8f6;
  --green-1: #b6be8f;
  --green-2: #969f32;
  --green-3: #556c3f;
  --green-4: #445e2c;
  --beige-1: #ebe2ce;
  --beige-2: #eeebd6;
  --beige-3: #f2efea;
  --brown-1: #705429;
  --brown-2: #764e2e;
  --salmon: #f7e8d4;
  --default-font-family: "Poppins", sans-serif;
  --default-header-font-family: "Helvetica", "Poppins", sans-serif;
  --default-font-size: 24px;
  --default-font-weight: 300;
  --default-letter-spacing: 2.4px;
  --small-letter-spacing: 0.72px;
  --default-line-height: 36px;
  --default-max-width: 1440px;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
  font-weight: var(--default-font-weight);
  letter-spacing: var(--default-letter-spacing);
  line-height: var(--default-line-height);
}

html {
  background-color: var(--ivory);
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

a:hover {
  color: rgba(0, 0, 0, 0.5);
}

.main {
  max-width: var(--default-max-width);
  padding: 60px;
  margin: 0 auto;
}

.separator {
  height: 1px;
  width: 100%;
}

/* Home */

.hero-header {
  font-family: var(--default-header-font-family);
  font-size: 50px;
  line-height: 50px;
  font-weight: 600;
  letter-spacing: 7.5px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  flex: 2;
}

.nav-right {
  font-size: var(--default-font-size);
  flex: 3;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 50px;
}

.nav-link-projects {
  display: flex;
  position: relative;
}

.nav-link-projects-dropdown,
.contact-nav-link-projects-dropdown {
  position: absolute;
  background-color: var(--ivory);
  top: 100%;
  width: 250px;
  left: -60%;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;
  display: flex;
  transition: all 0.2s ease;
  opacity: 0;
  visibility: hidden;
}

.contact-nav-link-projects-dropdown {
  background: rgba(255, 255, 255, 0.7);
}

.nav-link-projects:hover .nav-link-projects-dropdown,
.nav-link-projects:hover .contact-nav-link-projects-dropdown {
  visibility: visible;
  opacity: 1;
}

.nav-dropdown-link {
  margin: 10px 0;
}

.hero {
  display: flex;
  margin: 75px 0;
}

.hero-text {
  max-width: 40%;
  padding-right: 20px;
}

.hero-text p {
  margin: 50px 0;
}

.hero-button {
  width: 200px;
  height: 70px;
  border: 1px solid var(--black);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--black);
  transition: 0.3s;
}

.hero-button:hover {
  background-color: var(--green-2);
  color: var(--black);
}

.hero-image img {
  width: 100%;
  height: auto;
}

.projects {
  margin: 50px 0 75px;
  position: relative;
  display: flex;
  align-items: center;
  height: 611px;
  padding-left: 60px;
  border: 1px solid var(--ivory);
}

.projects-header {
  font-family: var(--default-header-font-family);
  line-height: 50px;
  font-weight: 600;
  letter-spacing: 7.5px;
  transform: rotate(180deg);
  translate: 0 -30px;
  writing-mode: vertical-rl;
  font-size: 46px;
  width: 50px;
  position: sticky;
  left: -180px;
  background-color: var(--ivory);
  height: 100%;
  min-width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
}

.projects-header.sticky {
  box-shadow: 0px 11px 10px -3px var(--black);
}

.project-card img {
  width: 100%;
  height: auto;
}

.project-card-container {
  display: flex;
  padding: 50px 0;
  overflow-x: scroll;
  overflow-y: hidden;
}

.project-card-container::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 8px;
}

.project-card-container::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.project-card {
  min-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

.project-card img {
  width: 100%;
  height: auto;
}

.project-card-text {
  margin: 10px 0;
  font-size: 20px;
}

.section {
  display: flex;
  margin: 75px 0;
  justify-content: space-between;
}

.section-image {
  max-width: 50%;
}

.section-image img {
  max-width: 100%;
}

.section-text {
  max-width: 47%;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 2px;
  margin-top: auto;
}

.section-header {
  font-family: var(--default-header-font-family);
  font-size: 36px;
  line-height: 42px;
  font-weight: 600;
  letter-spacing: 3.6px;
  margin-bottom: 12px;
}

.footer-container {
  background: var(--green-3);
}

.footer {
  max-width: var(--default-max-width);
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 60px;
}

.footer-right {
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer-text-header {
  font-size: 40px;
  line-height: 60px;
}

.footer-text {
  font-size: 32px;
  line-height: 48px;
}

.footer-email-link {
  text-decoration: none;
}

.about-header {
  font-family: var(--default-header-font-family);
  font-size: 80px;
  line-height: 92px;
  letter-spacing: 12px;
  font-weight: 600;
  margin: 50px 0;
}

.about-content-grid {
  display: grid;
  column-gap: 20px;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(4, 1fr);
  height: 900px;
}

.about-content-intro {
  grid-row: 1;
  grid-column: 3 / 5;
  letter-spacing: var(--small-letter-spacing);
  line-height: 40px;
}

.grid-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-text {
  font-size: 24px;
  letter-spacing: var(--small-letter-spacing);
  line-height: 36px;
}

.niigata-image-cell {
  grid-row: 2 / 5;
  grid-column: 1;
}

.tokyo-image-cell {
  grid-row: 2 / 5;
  grid-column: 2;
}

.newyork-image-cell {
  grid-row: 2 / 5;
  grid-column: 4;
}

.about-content-details {
  grid-row: 5 / 8;
  grid-column: 1 / 3;
  padding: 30px 30px 30px 0;
}

.about-content-details > :first-child {
  margin: 20px 0;
}

.strasbourg-image-cell {
  grid-row: 5 / 8;
  grid-column: 3;
}

.experiences-header {
  font-size: 46px;
  font-weight: 600;
  line-height: 53px;
  letter-spacing: 4.6px;
  margin: 100px 0 25px;
}

.experiences-grid {
  display: grid;
  row-gap: 40px;
  column-gap: 20px;
  grid-template-rows: repeat(11, 1fr);
  grid-template-columns: repeat(10, 1fr);
  height: 1300px;
  margin: 30px 0 50px;
}

.experiences-top {
  grid-row: 1;
  grid-column: 1 / 7;
}

.clothes-image-cell {
  grid-row: 2 / 5;
  grid-column: 1 / 7;
}

.linen-image-cell {
  grid-row: 2 / 5;
  grid-column: 7 / 11;
}

.sauce-image-cell {
  grid-row: 5 / 8;
  grid-column: 1 / 6;
}

.experiences-mid {
  grid-row: 5 / 8;
  grid-column: 6 / 11;
}

.experiences-bottom {
  grid-row: 8 / 12;
  grid-column: 1 / 6;
}

.plates-image-cell {
  grid-row: 8 / 12;
  grid-column: 6 / 11;
}

.goal-grid {
  display: grid;
  column-gap: 20px;
  grid-template-rows: repeat(18, 1fr);
  grid-template-columns: repeat(4, 1fr);
  height: 1100px;
  margin: 50px 0 150px;
}

.goal-text {
  font-size: 24px;
  letter-spacing: var(--small-letter-spacing);
  line-height: 36px;
}

.goal-top {
  grid-row: 1 / 5;
  grid-column: 3 / 5;
}

.goal-header {
  font-size: 46px;
  font-weight: 500;
  line-height: 53px;
  letter-spacing: 4.6px;
  margin-bottom: 25px;
}

.goal-mid {
  grid-row: 5 / 12;
  grid-column: 1 / 3;
  padding-top: 20px;
}

.goal-mid > :first-child {
  margin: 20px 0 40px;
}

.tablet-image-cell {
  grid-row: 12 / 19;
  grid-column: 1;
}

.paper-image-cell {
  grid-row: 12 / 19;
  grid-column: 2;
}

.desk-image-cell {
  grid-row: 5 / 19;
  grid-column: 3 / 5;
}

.contact-hero {
  background-image: url("assets/contact.png");
  background-size: cover;
  height: 850px;
}

.contact-hero-content {
  max-width: var(--default-max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: var(--white);
  height: 100%;
}

.contact-header {
  width: 100%;
  max-width: var(--default-max-width);
  padding: 60px;
  position: absolute;
}

.contact-title {
  margin: auto 200px;
  font-family: var(--default-header-font-family);
  font-size: 80px;
  line-height: 92px;
  letter-spacing: 12px;
  font-weight: 600;
}

.contact-info {
  display: flex;
  max-width: var(--default-max-width);
  margin: 0 auto;
}

.contact-profile-image {
  flex: 1;
  padding: 60px;
}

.contact-profile-image img {
  width: 100%;
  height: auto;
}

.contact-details {
  flex: 1;
  margin: auto 0;
  padding: 60px;
}

.contact-text {
  display: flex;
  align-items: center;
  margin: 35px 0;
}

.contact-text img {
  margin-right: 45px;
  width: 45px;
  height: 45px;
}

.contact-text-inner {
  font-size: 22px;
  letter-spacing: normal;
}

a.contact-text-inner {
  text-decoration: underline;
}

.resume {
  width: 100%;
  height: auto;
  margin: 100px 0;
}

.resume-download-button {
  margin: 50px 0;
  height: 100px;
  width: 300px;
  background-color: var(--brown);
  border: 1px solid var(--black);
  font-weight: 500;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.resume-image {
  width: 100%;
  height: auto;
}

.projects-body {
  background-color: var(--white);
}

.projects-section {
  padding: 100px 0;
}

.projects-hero {
  background-color: var(--ivory);
  margin: 0 auto;
  height: 800px;
}

.projects-hero-inner {
  display: flex;
  margin: 0 auto;
  height: 100%;
  width: 70%;
}

.projects-hero-left {
  flex: 2;
}

.projects-hero-right {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projects-hero-left img {
  height: 100%;
}

.projects-hero-right h1 {
  font-size: 36px;
  font-weight: 600;
  margin: 24px 0;
}

.projects-hero-specs {
  margin-bottom: 100px;
}

.projects-hero-specs div {
  font-size: 24px;
  letter-spacing: var(--small-letter-spacing);
  margin-bottom: 15px;
}

.projects-hero-specs b {
  font-weight: 600;
}

.projects-hero-button {
  background-color: var(--brown);
  color: var(--white);
  width: 334px;
  height: 65px;
  border-radius: 65px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-summary {
  background-color: var(--green-1);
}

.projects-summary-content {
  width: 60%;
  margin: 0 auto;
}

.projects-summary-content div {
  letter-spacing: 0px;
}

.projects-summary-content p {
  font-size: 26px;
}

.projects-summary-content > :first-child {
  margin-bottom: 70px;
}

.projects-summary-bold p {
  font-weight: 600;
  margin-top: 40px;
  letter-spacing: 0px;
}

.projects-summary-header {
  font-weight: 600;
  padding: 10px;
  border-bottom: 4px solid var(--black);
  letter-spacing: 0px;
}

.projects-agenda {
  background-color: var(--ivory);
}

.projects-agenda-inner {
  width: 70%;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}

.projects-agenda-column {
  display: flex;
  flex-direction: column;
}

.projects-agenda-column span {
  margin-bottom: 40px;
  font-weight: 600;
  letter-spacing: 0px;
}

.projects-agenda-column > :last-child {
  margin-bottom: 0px;
}

.projects-introduction {
  background-color: var(--white);
}

.projects-introduction-inner {
  width: 60%;
  margin: 0 auto;
}

.projects-introduction-header-wrapper {
  text-align: center;
}

.projects-introduction-header {
  letter-spacing: 0px;
  font-size: 30px;
  margin: 0 auto;
  padding: 7px 3px;
  border-bottom: 4px solid var(--green-4);
}

.projects-introduction-inner p {
  letter-spacing: 0px;
  margin: 84px 0;
}

.projects-introduction-outro {
  display: flex;
  align-items: center;
  width: 70%;
  margin-left: auto;
}

.projects-introduction-outro span {
  letter-spacing: 0px;
}

.projects-introduction-inner-img {
  width: 100%;
}

.projects-introduction-icon {
  width: 80px;
  margin-right: 50px;
}


.text {
  font-size: 26px;
  letter-spacing: 0px;
}

.projects-research {
  background-color: var(--white);
}

.projects-research-inner {
  width: 60%;
  margin: 0 auto;
}

.projects-research-header-wrapper {
  text-align: center;
  margin-bottom: 50px;
}

.projects-research-header {
  letter-spacing: 0px;
  font-size: 30px;
  margin: 0 auto;
  padding: 7px 3px;
  border-bottom: 4px solid var(--green-4);
}

.projects-research-goal {
  background-color: var(--beige-3);
  border-radius: 30px;
  padding: 80px 70px;
  letter-spacing: 1.3px;
  margin: 50px auto;
}

.projects-research-goal-title {
  text-decoration: underline;
  letter-spacing: 0px;
  font-size: 30px;
  margin-bottom: 30px;
}

.projects-research-goal-bold {
  font-weight: 600;
}

.projects-research-subheader {
  font-size: 30px;
  letter-spacing: 0px;
  font-weight: 400;
  margin: 100px 0 50px;
}

.projects-research-one-bronze-header {
  color: var(--brown-2);
  text-decoration: underline;
  font-weight: 500;
}

.projects-research-ul {
  margin: 26px 0;
}

.projects-research-one-objectives-text {
  margin: 18px 0;
}

.projects-research-one-objectives,
.projects-research-one-methods {
  margin: 50px 0 50px 26px;
}

.projects-research-one-methods-method {
  display: flex;
  align-items: center;
  margin: 36px 0;
}

.projects-research-one-methods-method-card {
  flex: 1;
  border-radius: 20px;
  background-color: var(--beige-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 200px;
  padding: 10px 30px;
}

.projects-research-one-methods-method-card-title {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0px;
}

.projects-research-one-methods-method-card-subtitle {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
}

.projects-research-one-methods-method-card-text {
  flex: 2;
  padding-left: 36px;
}

.projects-research-one-methods-outro {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 80px 0 80px 32px;
}

.projects-research-one-methods-icon {
  height: 80px;
}

.projects-research-one-methods-outro span {
  margin-left: 32px;
  width: 70%;
}

.projects-research-one-results p {
  margin: 32px 0;
}

.projects-research-one-results img {
  width: 100%;
}

.projects-research-one-link {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.projects-research-one-link img {
  width: 30px;
  height: 40px;
  margin-right: 20px;
}

.projects-research-one-link a {
  color: blue;
  text-decoration: underline;
}

.projects-research-two img {
  width: 100%;
}

.projects-research-two-analysis img {
  width: 30px;
  height: 80px;
}

.projects-research-ul-header {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.projects-research-ul-header img {
  margin-right: 18px;
}

.projects-research-ul {
  margin: 16px 32px 48px;
}

.projects-research-ul li {
  line-height: 38px;
  font-weight: 300;
}

.projects-research-one-goals-text {
  font-size: 26px;
  letter-spacing: 0px;
  margin: 26px 0 50px;
}

.projects-research-one-goals-card {
  background-color: var(--beige-2);
  border-radius: 30px;
  padding: 50px;
  margin: 50px 0;
}

.projects-research-one-goals-card-header {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0px;
  text-decoration: underline;
  margin-bottom: 50px;
}

.salmon {
  background-color: var(--salmon);
}

.projects-research-two-card-wrapper {
  display: flex;
  align-items: center;
}

.projects-research-two-card {
  background-color: var(--beige-1);
  border-radius: 20px;
}
