@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --white: #fff;
  --ivory: #f8f8f6;
  --green: #556c3f;
  --default-font-family: "Poppins", sans-serif;
  --default-header-font-family: "Helvetica", "Poppins", sans-serif;
  --default-font-size: 24px;
  --default-font-weight: 300;
  --default-letter-spacing: 2.4px;
  --default-line-height: 36px;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
  font-weight: var(--default-font-weight);
  letter-spacing: var(--default-letter-spacing);
  line-height: var(--default-line-height);
}

html {
  background-color: var(--ivory);
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  padding: 60px;
}

.hero-header {
  font-family: var(--default-header-font-family);
  font-size: 50px;
  line-height: 50px;
  font-weight: 600;
  letter-spacing: 7.5px;
}

.nav {
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  flex: 2;
}

.nav-right {
  font-size: var(--default-font-size);
  flex: 3;
  display: flex;
  justify-content: space-between;
}

.hero {
  display: flex;
  margin: 50px 0;
}

.hero-text {
  max-width: 40%;
  padding-right: 20px;
}

.hero-text p {
  margin: 50px 0;
}

.hero-button {
  width: 200px;
  height: 70px;
  border: 1px solid #000;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
  transition: 0.3s;
}

.hero-button:hover {
  background-color: #000;
  color: #fff;
}

.hero-image img {
  width: 100%;
  height: auto;
}

.projects {
  margin: 30px 0 50px;
  position: relative;
  display: flex;
  align-items: center;
  height: 500px;
  padding-left: 60px;
  border: 1px solid var(--ivory);
}

.projects-header {
  font-family: var(--default-header-font-family);
  line-height: 50px;
  font-weight: 600;
  letter-spacing: 7.5px;
  transform: rotate(180deg);
  translate: 0 -30px;
  writing-mode: vertical-rl;
  font-size: 46px;
  width: 50px;
  position: sticky;
  left: -180px;
  background-color: var(--ivory);
  height: 100%;
  min-width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-header.sticky {
  box-shadow: 0px 11px 10px -3px black;
}

.project-card img {
  width: 100%;
  height: auto;
}

.project-card-container {
  display: flex;
  padding: 40px 0;
  overflow-x: scroll;
  overflow-y: hidden;
}

.project-card-container::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 8px;
}

.project-card-container::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.project-card {
  height: 410px;
  min-width: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 25px;
}

.project-card img {
  width: 100%;
  height: auto;
}

.project-card-text {
  margin: 10px 0;
  font-size: 20px;
}

.section {
  display: flex;
  margin: 50px 0;
  justify-content: space-between;
}

.section-image {
  max-width: 50%;
}

.section-image img {
  max-width: 100%;
}

.section-text {
  max-width: 47%;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 2px;
  margin-top: auto;
}

.section-header {
  font-family: var(--default-header-font-family);
  font-size: 36px;
  line-height: 42px;
  font-weight: 600;
  letter-spacing: 3.6px;
  margin-bottom: 12px;
}

.footer {
  background: var(--green);
  display: flex;
  justify-content: space-between;
  padding: 60px;
}

.footer-right {
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer-text-header {
  font-size: 40px;
  line-height: 60px;
}

.footer-text {
  font-size: 32px;
  line-height: 48px;
}
