@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav-link {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.4px;
  text-transform: capitalize;
}

@keyframes rotateCursor {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media (min-width: 500px) {
  .cursor-wrapper {
    pointer-events: none;
    z-index: 9999;
    width: 100px;
    height: 100px;
    background-image: url("/cursor.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: rotateCursor 5s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}

.cursor-wrapper.hovering {
  display: none;
}

body,
* {
  cursor: none;
}

body.hovering * {
  cursor: pointer;
}

b {
  font-weight: 600;
}

.scrollbar-always-visible {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
}
